#### This style was chosen for your .clang-format
#BasedOnStyle: WebKit
#AlignConsecutiveDeclarations: true
#AllowShortBlocksOnASingleLine: true
#BreakBeforeBraces: Attach
#DerivePointerAlignment: true